/* --GENERAL-- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


/* --HEADER-- */

#button-discord span{
    margin: 10px;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 50px;
}

.header-login{
    padding: 5px 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
}

.header-logo{
    vertical-align: middle;
}

#titolo-header{
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 20px;
}

.description{
    text-align: center ;
    padding: 20px;
    font-size: 20px;
    color: white;
}

/* --HEADER-NAV */

.header-nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
}

/* --HEADER-BUTTON */

#button-discord{
    text-align: center;
    padding: 20px;
}

.button-download{
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
}

.button-discord{
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

/* --HEADER-SECTION-- */

.header-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header-section{
    height: 80%;
    width: 50%;
}

/* ----MAIN SECTIONS------ */

.titolo-main-section{
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
}

.paragrafo-main-section{
    font-size: 20px;
    padding: 0 30px;
}

.main-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey{
    background-color: rgb(211, 211, 211);
}

.white{
    background-color: white;
}

.container-main-section {
    height: 80%;
    width: 70%;
    display: flex;
}

.second-container-left,
.third-container-right,
.fourth-container-left {
    width: 60%;
    height: 100%;
}

.second-container-right,
.fourth-container-right,
.third-container-left {
    width: 40%;
    height: 100%;
}

/* --fifth-main-section--  */

.fifth-main-section{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
     /* --DEBUG-- */
     border: 1px dashed black;
    background-color: rgb(211, 211, 211);
}

.fifth-container-main-section{
    height: 90%;
    width: 70%;
    /* --DEBUG-- */
    border: 1px dashed black;
    background-color: rgb(35, 139, 33);
}

/* --HEADER-FOOTER-- */

.header-footer{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
      /* --DEBUG-- */
    background-color: rgb(35, 39, 42);
}

.footer-container{
    height: 80%;
    width: 70%;
    display: flex;
    /* --DEBUG-- */
    border: 1px dashed black
}

.big-part{
    height: 100%;
    width: 30%;
    /* --DEBUG-- */
    border: 1px dashed black;
    background-color: rgb(240, 128, 128);
}

.piece{
    height: 100%;
    width: 20%;
    /* --DEBUG-- */
    border: 1px dashed white;
    background-color: rgb(33, 178, 170)
}

/* --HORIZONTAL-ROW-- */

.horizontal-row {
    height: 1px;
    width: 100px;
    background-color: rgb(211, 211, 211);
}

/* --FOOTER-- */

.footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* --DEBUG-- */
    background-color: rgb(35, 39, 42);
}

.footer-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;
     /* --DEBUG-- */
    background-color: rgb(127, 255, 212) ;
}

.logo-footer, 
.button-footer {
    padding: 5px;
     /* --DEBUG-- */
     border: 1px dashed black;
    background-color: rgb(255, 182, 194) ;
}








